# Composer
/vendor
composer.phar
composer.lock

# Wordpress
/public/wp
/public/content/uploads/*
!/public/content/uploads/index.html

# OSX rubbish
.DS_Store
Thumbs.db

# Node Files
node_modules/
bower_components/
.sass-cache/
npm-debug.log